In [5]:
import pandas as pd

### HELPEPRS
def _P(buff, head=None) -> None:
    """A helper function to print the buffer just to reduce the amount of typing
    used when there are multiple print statements.

    Args:
        buff (Any): The output to print.
        head (str, optional): A decorated header. Defaults to None.
    """
    if head is not None:
        print(f"---[{head}]---")
    else:
        print("--------")
    print(buff)
    print("\n")

In [6]:
df = pd.DataFrame(
    {
        "Weight": [45,88,56,15,71],
        "Name": ["Sam","Andrea","Alex","Robin","Kia"],
        "Age": [14,25,55,8,21]
    }
)

# Indexs for rows
index_ = [
    "Row_1",
    "Row_2",
    "Row_3",
    "Row_4",
    "Row_5"
]

# Indexs for rows
df.index = index_

# print out the dataframe
# df.head()

# df.loc
_P(df.loc["Row_1"])

--------
Weight     45
Name      Sam
Age        14
Name: Row_1, dtype: object

In [7]:
df = pd.DataFrame(
    {
        "A":[12,4,5,2,1],
        "B":[7,2,54,3,4],
        "C":[20,16,11,3,8],
        "D":[14,3,6,2,6],
        "E":[10,20,30,40,50]
    }
)

# Indexs for rows
index_ = [
    "Row_1",
    "Row_2",
    "Row_3",
    "Row_4",
    "Row_5"
]

_P(df.head())
df.index = index_
_P(df.head())

_P(df.loc["Row_1"])

# Slcing
_P(df.loc["Row_1":"Row_3"])
_P(df.loc[:, "A":"C"])

--------
    A   B   C   D   E
0  12   7  20  14  10
1   4   2  16   3  20
2   5  54  11   6  30
3   2   3   3   2  40
4   1   4   8   6  50


--------
        A   B   C   D   E
Row_1  12   7  20  14  10
Row_2   4   2  16   3  20
Row_3   5  54  11   6  30
Row_4   2   3   3   2  40
Row_5   1   4   8   6  50


--------
A    12
B     7
C    20
D    14
E    10
Name: Row_1, dtype: int64


--------
        A   B   C   D   E
Row_1  12   7  20  14  10
Row_2   4   2  16   3  20
Row_3   5  54  11   6  30


--------
        A   B   C
Row_1  12   7  20
Row_2   4   2  16
Row_3   5  54  11
Row_4   2   3   3
Row_5   1   4   8

In [12]:

car_data = {
    "Model Name": [
        "Valiant",
        "Duster 360",
        "Merc 240D",
        "Merc 230",
        "Merc 280",
        "Merc 280C",
        "Merc 450SE",
        "Merc 450SL",
        "Cadillac Fleetwood",
        "Lincoln Continental",
        "Chrysler Imperial",
        "Fiat 128",
        "Honda Civic",
        "Toyota Corolla",
    ],
    "Gear": [3,3,4,4,4,4,3,3,3,3,3,4,4,4],
    "Cylinder": [6,8,4,4,6,6,8,8,8,8,8,4,4,4],
}

car_data_df = pd.DataFrame(car_data)
car_data_df

             Model Name  Gear  Cylinder
0               Valiant     3         6
1            Duster 360     3         8
2             Merc 240D     4         4
3              Merc 230     4         4
4              Merc 280     4         6
5             Merc 280C     4         6
6            Merc 450SE     3         8
7            Merc 450SL     3         8
8    Cadillac Fleetwood     3         8
9   Lincoln Continental     3         8
10    Chrysler Imperial     3         8
11             Fiat 128     4         4
12          Honda Civic     4         4
13       Toyota Corolla     4         4

In [13]:
_P(car_data_df['Gear'].unique(), "Unique values in Gear column")
_P(car_data_df['Cylinder'].unique(), "Unique values in Cylinder column")

_P(car_data_df['Gear'].value_counts(), "Value counts for Gear column")
_P(car_data_df['Cylinder'].value_counts(), "Value counts for Cylinder column")

# number of unique values
_P(car_data_df['Gear'].nunique(), "Number of unique values in Gear column")
_P(car_data_df['Cylinder'].nunique(), "Number of unique values in Cylinder column")

---[Unique values in Gear column]---
[3 4]


---[Unique values in Cylinder column]---
[6 8 4]


---[Value counts for Gear column]---
3    7
4    7
Name: Gear, dtype: int64


---[Value counts for Cylinder column]---
8    6
4    5
6    3
Name: Cylinder, dtype: int64


---[Number of unique values in Gear column]---
2


---[Number of unique values in Cylinder column]---
3

In [18]:
import numpy as np

dict = {
    "FS": [100,90,np.nan,95],
    "SS": [30,45,56,np.nan],
    "TS": [np.nan,40,80,98]
}

df = pd.DataFrame(dict)

df.head()
_P(df.isnull(), "Is null")

---[Is null]---
      FS     SS     TS
0  False  False   True
1  False  False  False
2   True  False  False
3  False   True  False

In [20]:
ds1 = pd.read_csv("ds1.csv")
bool_s = pd.isnull(ds1["Gender"])
_P(bool_s, "Is null")
ds1[bool_s]

# for col in ds1.columns:
#     print(col)
#     _P(ds1[pd.isnull(ds1[col])])

# check for null values in all columns
ds1.columns
ds1.isnull().sum()

---[Is null]---
0     False
1      True
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: Gender, Length: 100, dtype: bool

Emp ID                  0
Name Prefix             0
First Name              0
Middle Initial          0
Last Name               0
Gender                  1
E Mail                  0
Father's Name           0
Mother's Name           0
Mother's Maiden Name    0
Salary                  0
dtype: int64

In [21]:
emp = pd.read_csv("employees.csv")
_P(emp.isnull().sum(), "Is null")
_P(emp.notnull().sum(), "Is not null")
# emp.head()

# drop rows with null values

_P(emp.dropna().isnull().sum(), "Is null")
emp.dropna().head()

FileNotFoundError: [Errno 2] No such file or directory: 'employees.csv'

In [ ]:
df.head()

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,Salary
0,677509,Drs.,Lois,H,Walker,F,lois.walker@hotmail.com,Donald Walker,Helen Walker,Lewis,168251
1,940761,Ms.,Brenda,S,Robinson,NaN,brenda.robinson@gmail.com,Raymond Robinson,Judy Robinson,Perry,51063
2,428945,Dr.,Joe,W,Robinson,M,joe.robinson@gmail.com,Scott Robinson,Stephanie Robinson,Taylor,50155
3,408351,Drs.,Diane,I,Evans,F,diane.evans@yahoo.com,Jason Evans,Michelle Evans,Allen,180294
4,193819,Mr.,Benjamin,R,Russell,M,benjamin.russell@charter.net,Gregory Russell,Elizabeth Russell,Nelson,117642

In [ ]:
pd.read_csv("ds1.csv",usecols=["Emp ID","First Name"]).head()

   Emp ID First Name
0  677509       Lois
1  940761     Brenda
2  428945        Joe
3  408351      Diane
4  193819   Benjamin