In [2]:
T = int(input())
print(T)

98

In [5]:
int_val = 5
float_tt = 1.0
str_this = "This is a string"

In [11]:
a,b,c = 1,2,"This"
x=y=z=1                 
print(a,b,c,sep=",")    #------------------------------(rem)
print(x,y,z,sep="")
print(a,b,c,sep='\n')
del c        #it will delite           #------------------------------(rem)

1,2,This
111
1
2
This

In [ ]:
# mutable:
# Lists
# Dicts
# Sets
# User-Defined Classes 
# Dictionaries

#  immutable:
# int
# float
# bool
# string
# Unicode
# tuple
# Numbers
# Frozen Sets
# User-Defined Classes
# tuple -> lst = Change the values -> tuple

### Strings & List

In [16]:
st = "This is a string"
lst = [1,2,3,4,5]
len(lst)                   # 5
lst[::-1]                  # [5, 4, 3, 2, 1]
lst[2:4]                   # [3, 4]
lst[-3]                    # 3
st[-11:-11+2]              # "is"
len(st)                    # 16
st[-16]

16

In [3]:
# -----<Dot Formating>-----
str0 = "{} {} {}".format(1,2,3)                        # 1 2 3
# Positional Formatting
str1 = "{1} {0} {2}".format("one","zero","two")        # "zero one two"
# Keyword Formatting
str2 = "{a} {c} {b}".format(a="one",b="zero",c="two")  # 'one two zero'

'one two zero'

In [ ]:
lstt1 = ['c',21,"ayon",True]

In [1]:
"ayon karmakar".split(" ")       # ['ayon', 'karmakar']
'_'.join(['ayon','karmakar'])    # ayon_karmakar

'ayon_karmakar'

In [2]:
st = "ayon karmakar"
print(st)

ayon karmakar

In [11]:
lst =[1,2,3,4,5]
lst.index(3)                 # 2

2

### Tuple

In [78]:
tup1 = ('c',21,"ayon",True,7.5)
tup2 = (1234,'new')
print(tup1+tup2)

('c', 21, 'ayon', True, 7.5, 1234, 'new')

In [70]:
# Ordered
tup1[2]            # 'c'

'ayon'

In [77]:
# immutable
tup1[3] = "ayon"         # 'tuple' object does not support item assignment
tup1[1:3] = (1,2)         # 'tuple' object does not support item assignment

In [75]:
tup1          # ('c', 21, 'ayon', True, 7.5)
tup1[1:3]     # (21, 2)
tup1[2:]      # ('ayon', True, 7.5)
tup1+tup2     # (('c', 21, 'ayon', True, 7.5), 1234, 'new')
tup2*2        # (1234, 'new', 1234, 'new')

(1234, 'new', 1234, 'new')

In [ ]:
# 4.perform a case study on the following operations in tuple 
#    1.maxima
#    2,minima
#    3.concatenation of two tuple 
#    4.duplicate a tuple 
#    5.slicing a tuple
#    6.obtaining a list from a tulple 
#    7.compare two tuples 
#    8.printing 2 tuples of diffeent data types.

In [85]:
tup1 = (1,2,3,4,5)
tup2 = (6,7,8,9,10)
max(tup1)       # 5
min(tup1)       # 1
tup2+tup1       # (6, 7, 8, 9, 10, 1, 2, 3, 4, 5)
tup_Dup = tup1.copy() # (1, 2, 3, 4, 5)
tup1[1:3]       # (2, 3)
list(tup1)        # [1, 2, 3, 4, 5]
tup1 == tup2      # False
tup1 = ('c',21,"ayon",True,7.5)
tup2 = (1234,'new')

[1, 2, 3, 4, 5]

### Dictionary

In [45]:
dict1 = {'a':1,2:2,4.5:"CP",False:"ayon is cool"}  
dict2 = {9:True}

In [13]:
lst = [True,False,'AYON']
lst1 = [1,2,3,4,5]
lst2 = ['a','b','c','d',lst]
dict(zip(lst1,lst2)) # {1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: [True, False, 'AYON']}

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: [True, False, 'AYON']}

In [8]:
def foo():
    return "good"
dit = {45:[1,4],1:foo()}
print(dit[1])
dit2 = {45:[1,4]}
print(dit2[45])

good
[1, 4]

In [18]:
to_sort = {12: 'twelve', 76: 'seventsix', 5: 'five', 443: 'forhumdred', 1: 'one'}
print(dict(sorted(to_sort.items())))                                                       #------------------------------(rem)
# {key:val for key,val in sorted(to_sort.items())}                                  # {1: 'one', 5: 'five', 12: 'twelve', 76: 'seventsix', 443: 'forhumdred'}
print({key:val for key,val in sorted(to_sort.items() , key= lambda v:v[1])} )
print({key:val for key,val in sorted(to_sort.items() , key= lambda v:len(v[1]))})
print({key:val for key,val in sorted(to_sort.items() , key= lambda v:len(v[1]) , reverse=True)})
print({key:val for key,val in sorted(to_sort.items() , key = lambda v:v[1][1])})     # sorting wrt val's 2nd char

{1: 'one', 5: 'five', 12: 'twelve', 76: 'seventsix', 443: 'forhumdred'}
{5: 'five', 443: 'forhumdred', 1: 'one', 76: 'seventsix', 12: 'twelve'}
{1: 'one', 5: 'five', 12: 'twelve', 76: 'seventsix', 443: 'forhumdred'}
{443: 'forhumdred', 76: 'seventsix', 12: 'twelve', 5: 'five', 1: 'one'}
{76: 'seventsix', 5: 'five', 1: 'one', 443: 'forhumdred', 12: 'twelve'}

In [61]:
dict1[False]        # 'ayon is cool'
dict1[4.5]          # 'CP'
dict2[9]            # True


dict1.keys()        # dict_keys(['a', 2, 4.5, False])
dict1.values()      # dict_values([1, 2, 'CP', 'ayon is cool'])
cp_dict1 = dict1.copy()        # {'a': 1, 2: 2, 4.5: 'CP', False: 'ayon is cool'}
cp_dict1                       # {'a': 1, 2: 2, 4.5: 'CP', False: 'ayon is cool'}
dict1.items()       # dict_items([('a', 1), (2, 2), (4.5, 'CP'), (False, 'ayon is cool')])
dict1.get("this key is not in dict") # None                        #------------------------------(rem)
dict1.setdefault("thisNew","THIS")   # 'THIS'                         #------------------------------(rem)
# dict1.clear()       # {}
dict1.update(dict2) # {'a': 1, 2: 2, 4.5: 'CP', False: 'ayon is cool', 9: True}     #------------------------------(rem)
dict1

{'a': 1,
 2: 2,
 4.5: 'CP',
 False: 'ayon is cool',
 'this key is not in dict': 'this is the default value',
 'this': 'THIS',
 'thisNew': 'THIS',
 9: True}

## Loops
### for while for-else

{'a': 1, 2: 2, 4.5: 'CP', False: 'ayon is cool'}

In [63]:
import os
print(os.system("ls"))

1

# Task 1

In [ ]:
# ------------------<Task 1>------------------
# 1.write a program to convert temp in degree farenheit into celcius
# 2.write a program to exchange the value of two  variable using a temp variable
# 3.write a program to find the distance between 2 points.
# 4.perform a case study on the following operations in tuple 
#    1.maxima
#    2,minima
#    3.concatenation of two tuple 
#    4.duplicate a tuple 
#    5.slicing a tuple
#    6.obtaining a list from a tulple 
#    7.compare two tuples 
#    8.printing 2 tuples of diffeent data types.  ----top

#    9.write a program to find out square root of 2 numbers
#    10.write a program find factorial of number
#    11.program sum of digits of a number
#    12.write a program to reverse a number
#    13.write a program to check whether tn=he the given number is palindrome or nt
#    14.write a program to print fibonacci series
#    15.write a program to print primenumbers in a range.
#    16.write a program to find the greatest of three numbers.
#    17.design a calculator.

In [68]:
# 1.write a program to convert temp in degree farenheit into celcius
def degree_farenheit_to_celcius(temp):
    return (temp-32)*5/9
degree_farenheit_to_celcius(32)

0.0

In [ ]:
# 2.write a program to exchange the value of two  variable using a temp variable
a,b = 1,2
print(a,b)   # 1 2
a,b = b,a
print(b,a)   # 2 1

In [67]:
# 3.write a program to find the distance between 2 points.
x1,x2 = 1,2
y1,y2 = 5,6
((x1-x2)**2+(y1-y2)**2)**0.5

1.4142135623730951

In [ ]:
# 4.perform a case study on the following operations in tuple 
#  sum are in are Done in the above program

[Code](###Tuple)  1- 8

In [89]:
num = 6
factorial_num = 1
for n in range(1,num+1):
    factorial_num = factorial_num*n
factorial_num

720

In [9]:
#    11.program sum of digits of a number
nn = 1234;sum = 0
for _ in range(len(str(nn))):
    sum += nn%10
    nn = nn//10
print(nn)

0

In [2]:
#    12.write a program to reverse a number
nn = 12345
for _ in range(len(str(nn))):
    print(nn%10,end="")
    nn = nn//10

54321

In [6]:
#    13.write a program to check whether tn=he the given number is palindrome or nt
str_p = input()
str_p[::-1] == str_p

True

In [5]:
#    14.write a program to print fibonacci series
a,b = 0,1
for i in range(10):
    print(a,end=" ")
    a,b = b,a+b

0 1 1 2 3 5 8 13 21 34

In [4]:
#    15.write a program to print primenumbers in a range.
n,m = map(int,input().split())
for i in range(2,50):
    for j in range(2,i):
        if i%j == 0:
            break
    else:
        print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [1]:
#    16.write a program to find the greatest of three numbers.
a,b,c = map(int,input().split())
max(a,b,c)

9

In [ ]:
#    17.design a calculator.

In [ ]:
print("merge in the presence of saicharan")