In [10]:
import pandas, numpy, seaborn
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [11]:
df=seaborn.load_dataset('titanic')
df.head(2)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False

In [12]:
df2=df[['survived','pclass','age','parch']]
df2.isna().sum()

survived      0
pclass        0
age         177
parch         0
dtype: int64

In [13]:
df2.fillna(df2.mean(),inplace=True)
df2.isna().sum()# sum all the nan(null) values

C:\Users\admin\AppData\Local\Temp\ipykernel_14492\2039405756.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.fillna(df2.mean(),inplace=True)

survived    0
pclass      0
age         0
parch       0
dtype: int64

In [14]:
x=df2.drop('survived',axis=1)# all others except survived column
y=df2['survived'] # only survived column
x,y

(     pclass        age  parch
 0         3  22.000000      0
 1         1  38.000000      0
 2         3  26.000000      0
 3         1  35.000000      0
 4         3  35.000000      0
 ..      ...        ...    ...
 886       2  27.000000      0
 887       1  19.000000      0
 888       3  29.699118      2
 889       1  26.000000      0
 890       3  32.000000      0

 [891 rows x 3 columns],
 0      0
 1      1
 2      1
 3      1
 4      0
       ..
 886    0
 887    1
 888    0
 889    1
 890    0
 Name: survived, Length: 891, dtype: int64)

In [15]:
from sklearn.model_selection import train_test_split as tts 
x_train,x_test,y_train,y_test=tts(x,y,random_state=42,test_size=0.3)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)
print(x_train)

(623, 3)
(268, 3)
(623,)
(268,)
     pclass        age  parch
445       1   4.000000      2
650       3  29.699118      0
172       3   1.000000      1
450       2  36.000000      2
314       2  43.000000      1
..      ...        ...    ...
106       3  21.000000      0
270       1  29.699118      0
860       3  41.000000      0
435       1  14.000000      2
102       1  21.000000      1

[623 rows x 3 columns]

In [16]:
sc=StandardScaler()
sc.fit_transform(x_train)

array([[-1.63788124, -1.94694658,  1.99885349],
       [ 0.80326712,  0.02724309, -0.47932706],
       [ 0.80326712, -2.17740465,  0.75976322],
       ...,
       [ 0.80326712,  0.8953696 , -0.47932706],
       [-1.63788124, -1.17875302,  1.99885349],
       [-1.63788124, -0.64101752,  0.75976322]])